@charset "utf-8";

/* ===========================================
 * style.css
 * ======================================== */

/*CSSカスタムプロパティ（サイト全体を一括管理する為の設定）
---------------------------------------------------------------------------*/
:root {
    --text-color: #eee;
    --primary-color: #d15d08;
    --primary-text-color: #eee;
    --global-space: 5vw;
}

/*animation1のキーフレーム設定（開閉ブロックのアニメーションに使用）
---------------------------------------------------------------------------*/
@keyframes animation1 {
    0% {
        left: -200px;
    }

    100% {
        left: 0px;
    }
}

/*opa1のキーフレーム設定（汎用的）
---------------------------------------------------------------------------*/
@keyframes opa1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*fadeInのキーフレーム設定（テキストのフェードインに使用）
---------------------------------------------------------------------------*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*全体の設定
---------------------------------------------------------------------------*/
body * {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 13px;
}

@media screen and (min-width:900px) {

    html,
    body {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
    font-optical-sizing: auto;
    -webkit-text-size-adjust: none;
    background: #132940;
    color: var(--text-color);
    line-height: 2;
}

figure {
    margin: 0;
}

dd {
    margin: 0;
}

nav,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

video {
    max-width: 100%;
}

iframe {
    width: 100%;
}

input {
    font-size: 1rem;
}

section+section {
    margin-top: 3rem;
}

/*リンクテキスト全般の設定
---------------------------------------------------------------------------*/
a {
    color: var(--text-color);
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

/*コンテナー（サイト全体を囲むブロック）
---------------------------------------------------------------------------*/
body:not(.home) #container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*コンテンツ（フッター関連「以外」を囲むブロック）
---------------------------------------------------------------------------*/
#contents {
    flex: 1;
    padding: var(--global-space);
}

@media screen and (max-width:600px) {
    #contents {
        padding-top: 80px;
    }
}

/*header（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 1vw 3vw;
    font-family: "Reddit Sans", "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    z-index: 1;
    width: 100%;
}

@media screen and (min-width:900px) {
    header {
        position: fixed;
    }
}

#logo img {
    display: block;
    width: 160px;
}

#logo a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
}

/*main
---------------------------------------------------------------------------*/
main h2 {
    font-family: "Reddit Sans", "Noto Sans JP", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: var(--primary-color);
}

.bg1 h2 {
    color: var(--primary-text-color);
}

main h2 .hosoku {
    display: block;
    font-weight: normal;
    font-size: 0.3em;
}

main h3 {
    display: inline-block;
    border-bottom: 3px solid var(--text-color);
}

/*2カラム
---------------------------------------------------------------------------*/
.main-contents {
    margin-bottom: 5rem;
}

@media screen and (min-width:900px) {
    main.column {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .main-contents {
        margin-bottom: 0;
        order: 2;
        flex: 1;
    }

    .sub-contents {
        width: 230px;
    }

    .sub-contents:nth-child(2) {
        order: 1;
    }

    .sub-contents:nth-child(3) {
        order: 3;
    }
}

/*サブコンテンツ設定
---------------------------------------------------------------------------*/
.sub-contents h3 {
    display: block;
    margin: 0;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #ccc;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.03));
    padding: 0.5rem 0;
}

/*サブメニュー設定
---------------------------------------------------------------------------*/
.submenu {
    padding: 0;
    margin: 0 0 1rem;
}

.submenu a {
    display: block;
    text-decoration: none;
    padding: 0.2rem 1rem;
}

.submenu>li {
    border: 1px solid #ccc;
    border-top: none;
}

.submenu li li a {
    padding-left: 2rem;
}

.sub-contents h3+nav .submenu {
    border-top: none;
}

/*フッターメニュー
---------------------------------------------------------------------------*/
#footermenu {
    margin: 0 !important;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}

#footermenu li {
    display: inline-block;
    padding: 0 10px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer small {
    font-size: 100%;
}

footer {
    font-size: 0.7rem;
    text-align: center;
    padding: 20px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer .pr {
    display: block;
}

/*テキストのフェードイン設定
---------------------------------------------------------------------------*/
.fade-in-text {
    visibility: hidden;
}

.char {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.05s linear both;
}

/*お知らせブロック
---------------------------------------------------------------------------*/
.new dd {
    padding-bottom: 1rem;
}

.new dt span {
    display: inline-block;
    text-align: center;
    line-height: 1.8;
    border-radius: 3px;
    width: 8rem;
    transform: scale(0.8);
    background: #fff;
    color: #777;
    border: 1px solid #333;
}

.new .icon-bg1 {
    background: #333;
    color: #fff;
}

.new .icon-bg2 {
    background: #ff0000;
    color: #fff;
}

@media screen and (min-width:700px) {
    .new {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

/*list-grid1
---------------------------------------------------------------------------*/
.list-grid1 {
    display: grid;
    color: #555;
}

.list-grid1 .list {
    display: grid;
}

.list-grid1 .list * {
    margin: 0;
    padding: 0;
}

.list-grid1 .list p {
    font-size: 0.85rem;
}

@media screen and (min-width:500px) {
    .list-grid1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width:800px) {
    .list-grid1 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

.list-grid1 .list {
    padding: 1rem;
    background: #fff;
    grid-template-rows: auto 1fr;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.list-grid1 .list figure img {
    margin-bottom: 0.5rem;
}

/*ボタン（btnと、btn-border-radius）
---------------------------------------------------------------------------*/
.btn a,
.btn-border-radius a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    background: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
    padding: 0.5rem !important;
    margin-top: 1rem !important;
}

.btn a:hover,
.btn-border-radius a:hover {
    filter: brightness(1.2);
}

.btn-border-radius a {
    display: inline-block;
    padding: 0.5rem 2rem !important;
    border-radius: 100px;
    background: #f53e72 !important;
}

/*bg1背景色がついたブロック
---------------------------------------------------------------------------*/
.bg1 {
    position: relative;
    background: var(--primary-color);
    color: var(--primary-text-color);
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: calc(-1 * var(--global-space));
    margin-right: calc(-1 * var(--global-space));
    padding-left: var(--global-space);
    padding-right: var(--global-space);
}

.bg1 a {
    color: inherit;
}

.bg1::before,
.bg1::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(5vw + 1px);
    background: var(--primary-color);
}

.bg1::before {
    top: -5vw;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.bg1::after {
    bottom: -5vw;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}


/*詳細ページのサムネイル切り替えブロック
---------------------------------------------------------------------------*/
.thumbnail-view-parts {
    max-width: 1000px;
    margin: 0 auto 1rem;
    text-align: center;
}

.thumbnail-parts {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.thumbnail-parts img {
    width: 100px;
    margin: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.thumbnail-parts img:hover {
    opacity: 0.8;
}


/*テーブル（ta1）
---------------------------------------------------------------------------*/
.ta1 caption {
    font-weight: bold;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    margin-bottom: 1rem;
    border-radius: 5px;
}

.ta1 {
    table-layout: fixed;
    border-top: 1px solid #ccc;
    width: 100%;
    margin-bottom: 5rem;
}

.ta1 tr {
    border-bottom: 1px solid #ccc;
}

.ta1 th,
.ta1 td {
    padding: 1rem;
    word-break: break-all;
}

.ta1 th {
    width: 30%;
    text-align: left;
}

@media screen and (min-width:900px) {
    .ta1 th {
        width: 20%;
    }
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
.pagetop-show {
    display: block;
}

.pagetop a {
    display: block;
    text-decoration: none;
    text-align: center;
    z-index: 99;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.2);
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
}

/*その他
---------------------------------------------------------------------------*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.color-check,
.color-check a {
    color: #ff0000 !important;
}

.l {
    text-align: left !important;
}

.c {
    text-align: center !important;
}

.r {
    text-align: right !important;
}

.ws {
    width: 95%;
    display: block;
}

.wl {
    width: 95%;
    display: block;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.look {
    display: inline-block;
    padding: 0px 10px;
    background: #eee;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px 0;
    word-break: break-all;
}

.small {
    font-size: 0.75em;
}

.large {
    font-size: 2em;
    letter-spacing: 0.1em;
}

.pc {
    display: none;
}

.dn {
    display: none !important;
}

.block {
    display: block !important;
}

@media screen and (min-width:900px) {
    .ws {
        width: 48%;
        display: inline;
    }

    .sh {
        display: none;
    }

    .pc {
        display: block;
    }
}