@charset "utf-8";

:root {
    --text-color: #eee;
    --primary-color: #d15d08;
    --primary-text-color: #eee;
    --global-space: 5vw;
}

@keyframes animation1 {
    0% {
        left: -200px;
    }

    100% {
        left: 0px;
    }
}

@keyframes opa1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

body * {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 13px;
}

@media screen and (min-width:900px) {

    html,
    body {
        font-size: 16px;
    }

}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
    font-optical-sizing: auto;
    -webkit-text-size-adjust: none;
    background: #132940;
    color: var(--text-color);
    line-height: 2;
}

figure {
    margin: 0;
}

dd {
    margin: 0;
}

nav,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

video {
    max-width: 100%;
}

iframe {
    width: 100%;
}

input {
    font-size: 1rem;
}

section+section {
    margin-top: 3rem;
}

a {
    color: var(--text-color);
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

body:not(.home) #container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contents {
    flex: 1;
    padding: var(--global-space);
}

@media screen and (max-width:600px) {

    #contents {
        padding-top: 80px;
    }

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 1vw 3vw;
    font-family: "Reddit Sans", "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    z-index: 1;
    width: 100%;
}

@media screen and (min-width:900px) {
    header {
        position: fixed;
    }

}

#logo img {
    display: block;
    width: 160px;
}

#logo a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
}

#menubar {
    display: none;
}

#menubar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menubar a {
    display: block;
    text-decoration: none;
}

.large-screen #menubar {
    display: block;
}

.small-screen #menubar.display-block {
    display: block;
}

#menubar_hdr.display-none {
    display: none;
}

.ddmenu_parent ul {
    display: none;
}

a.ddmenu {
    cursor: default;
}

a.ddmenu::before {
    font-family: "Font Awesome 6 Free";
    content: "\f078";
    font-weight: bold;
    margin-right: 0.5em;
}

.large-screen #menubar>nav>ul {
    display: flex;
    font-size: 0.85rem;
    gap: 0.5rem;
}

.large-screen #menubar li a {
    border-radius: 100px;
    padding: 0.2rem 1rem;
}

.large-screen #menubar li a:hover {
    background: #fff;
}

.large-screen #menubar ul ul,
.small-screen #menubar ul ul {
    animation: opa1 0.5s 0.1s both;
}

.large-screen #menubar ul ul {
    position: absolute;
    z-index: 100;
}

.large-screen #menubar ul ul a {
    margin-top: 0.4rem;
}

.small-screen #menubar.display-block {
    position: fixed;
    overflow: auto;
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    background: rgba(0, 0, 0, 0.9);
    animation: animation1 0.2s both;
}

.small-screen #menubar nav ul li {
    border: 1px solid #ccc;
    margin: 1rem;
    border-radius: 5px;
    padding: 0 2rem;
}

.small-screen #menubar a {
    padding: 1rem;
}

.small-screen #menubar,
.small-screen #menubar a {
    color: #fff;
}

#menubar .sh {
    font-weight: normal;
    padding: 1rem 2rem 2rem;
}

#menubar_hdr {
    animation: opa1 0s 0.2s both;
    position: fixed;
    z-index: 101;
    cursor: pointer;
    right: 3vw;
    top: 1vw;
    padding: 16px 14px;
    width: 46px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menubar_hdr span {
    display: block;
    transition: 0.3s;
    border-top: 1.5px solid #333;
}

#menubar_hdr.ham {
    background: #ff0000;
}

#menubar_hdr.ham span:nth-of-type(1),
#menubar_hdr.ham span:nth-of-type(3) {
    transform-origin: center center;
    width: 20px;
    border-color: #fff;
}

#menubar_hdr.ham span:nth-of-type(1) {
    transform: rotate(45deg) translate(3.8px, 5px);
}

#menubar_hdr.ham span:nth-of-type(3) {
    transform: rotate(-45deg) translate(3.8px, -5px);
}

#menubar_hdr.ham span:nth-of-type(2) {
    display: none;
}

main h2 {
    font-family: "Reddit Sans", "Noto Sans JP", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: var(--primary-color);
}

.bg1 h2 {
    color: var(--primary-text-color);
}

main h2 .hosoku {
    display: block;
    font-weight: normal;
    font-size: 0.3em;
}

main h3 {
    display: inline-block;
    border-bottom: 3px solid var(--text-color);
}

.main-contents {
    margin-bottom: 5rem;
}

@media screen and (min-width:900px) {

    main.column {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .main-contents {
        margin-bottom: 0;
        order: 2;
        flex: 1;
    }

    .sub-contents {
        width: 230px;
    }

    .sub-contents:nth-child(2) {
        order: 1;
    }

    .sub-contents:nth-child(3) {
        order: 3;
    }

}

.sub-contents h3 {
    display: block;
    margin: 0;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #ccc;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.03));
    padding: 0.5rem 0;
}

.submenu {
    padding: 0;
    margin: 0 0 1rem;
}

.submenu a {
    display: block;
    text-decoration: none;
    padding: 0.2rem 1rem;
}

.submenu>li {
    border: 1px solid #ccc;
    border-top: none;
}

.submenu li li a {
    padding-left: 2rem;
}

.sub-contents h3+nav .submenu {
    border-top: none;
}

#footermenu {
    margin: 0 !important;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}

#footermenu li {
    display: inline-block;
    padding: 0 10px;
}

footer small {
    font-size: 100%;
}

footer {
    font-size: 0.8rem;
}

a.page-numbers {
    display: inline-block;
    padding: 0.2rem 0.5rem;
}

.prev.page-numbers,
.next.page-numbers {
    font-size: 0;
}

.pagination .current {
    border-bottom: 2px solid #ccc;
    font-weight: 700;
}

.pagination .dots {
    padding: 0.2rem 0.5rem;
}

blockquote {
    border-left: 5px solid #ddd;
    padding: 0.5rem 1rem;
    background: #f2f2f2;
    border-radius: 0.5rem;
    margin: 0;
}

caption {
    text-align: left;
}

table {
    width: 100%;
}

table th {
    background: #e2e2e2;
    text-align: left;
    padding: 0.5rem;
    white-space: nowrap;
}

table td {
    padding: 0.5rem;
}

table.border th,
table.border td {
    border: 1px solid #ddd;
}

.tdimg img {
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 100px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: var(--primary-text-color);
    color: var(--primary-color);
}

input,
textarea,
select {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

.bg1,
.bg2,
.bg3,
.bg4,
.bg5 {
    padding: 1rem 0;
    color: #fff;
}

.bg1 {
    background: #000000;
}

.bg2 {
    background: #18448e;
}

.bg3 {
    background: #132940;
}

.bg4 {
    background: #104d86;
}

.bg5 {
    background: #092251;
}

.bg1 *,
.bg2 *,
.bg3 *,
.bg4 *,
.bg5 * {
    color: #fff;
}

.bg1 h2,
.bg2 h2,
.bg3 h2,
.bg4 h2,
.bg5 h2 {
    color: #fff;
}

.mgb0 {
    margin-bottom: 0;
}

.box2 {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

img.border,
p.border,
td.border {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

.pcn {
    text-align: center;
}

.flex,
.in-flex {
    display: flex;
    align-items: center;
}

p.btn a {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 1px solid #d15d08;
    background: #d15d08;
    color: #eee;
    border-radius: 5px;
}

p.btn a:hover {
    background: #eee;
    color: #d15d08;
}

.bg1 p.btn a,
.bg2 p.btn a,
.bg3 p.btn a,
.bg4 p.btn a,
.bg5 p.btn a {
    border: 1px solid #fff;
    color: #fff;
}

.bg1 p.btn a:hover,
.bg2 p.btn a:hover,
.bg3 p.btn a:hover,
.bg4 p.btn a:hover,
.bg5 p.btn a:hover {
    background: #fff;
    color: var(--primary-color);
}